<%- include('partials/header.ejs') %>

    <!-- .page-content start -->
    <div class="page-content custom-img-background dark page-title page-title-1 mb-70">
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                        <h1>About <span>me</span></h1>
                    </div><!-- .custom-heading.style-1 end -->
                </div><!-- .col-md-6 end -->
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">About me</li>
                    </ol>
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="feature-box style-2">
                        <div class="feature-media">
                            <img src="/img/betterCallSaul/deleteSand.jpg" class="img-responsive"
                                alt="Construction HTML Template" />

                            <a href="https://www.youtube.com/watch?v=pPd67CEL54E" class="read-more video-post">
                                <span class="icon-container">
                                    <img class="svg-black img-responsive" src="img/svg/video.svg" alt="video icon" />
                                </span>
                            </a>

                        </div><!-- .feature-media end -->

                        <div class="feature-body">
                            <div class="custom-heading style-1">
                                <h4>Introduction video</h4>
                            </div><!-- .custom-heading end -->

                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas maxime animi
                                reiciendis veniam impedit velit fugit asperiores vitae perspiciatis, qui quam cupiditate
                                incidunt cumque nobis blanditiis quae voluptates beatae dolorum?
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-6 end -->

                <div class="col-md-6 col-sm-6">
                    <div class="feature-box style-2">
                        <div class="feature-media">
                            <img src="img/betterCallSaul/talkToAttacker.jpg" class="img-responsive"
                                alt="Construction HTML Template" />

                            <a href="/services" class="read-more">
                                <span class="icon-container">
                                    <img class="svg-black img-responsive" src="img/svg/arrow.svg" alt="arrow icon" />
                                </span>
                            </a>
                        </div><!-- .feature-media end -->

                        <div class="feature-body">
                            <div class="custom-heading style-1">
                                <h4>Lawyer work process</h4>
                            </div><!-- .custom-heading end -->

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iusto provident
                                exercitationem officia deleniti est reiciendis dolor accusantium neque vitae, dolore
                                praesentium, rem explicabo debitis amet aut commodi iure earum!
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <%- include('partials/myMission.ejs') %>

        <div class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row mb-0">
                    <div class="col-md-12 mb-0">
                        <div class="custom-heading style-2">
                            <h2>It's a team effort</h2>
                        </div>
                    </div>
                </div><!-- .row end -->
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <figure>
                                <img src="img/betterCallSaul/stayOnCar2.jpg" class="img-responsive"
                                    alt="Construction HTML Template" />

                                <figcaption>
                                    <div class="custom-heading style-1">
                                        <h6 class="member-name">Saul Goodman</h6>
                                        <p class="member-position">Company owner, lawyer</p>
                                    </div>

                                    <p class="member-about">The best lawyer in Albuquerque!</p>
                                </figcaption>
                            </figure>
                        </div><!-- .team-member end -->

                    </div><!-- .col-md-3 end -->

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <figure>
                                <img src="img/betterCallSaul/Mike.jpg" class="img-responsive"
                                    alt="Construction HTML Template" />

                                <figcaption>
                                    <div class="custom-heading style-1">
                                        <h6 class="member-name">Mike Ehrmantraut</h6>
                                        <p class="member-position">Personal detective</p>
                                    </div>

                                    <p class="member-about">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi corrupti
                                        incidunt ab neque quasi. Ipsum consequatur quis voluptas sapiente dignissimos
                                        exercitationem sint magnam rerum mollitia odit possimus quaerat, sit porro?
                                    </p>
                                </figcaption>
                            </figure>
                        </div><!-- .team-member end -->
                    </div><!-- .col-md-3 end -->

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <figure>
                                <img src="img/betterCallSaul/Huell.jpg" class="img-responsive"
                                    alt="Construction HTML Template" />

                                <figcaption>
                                    <div class="custom-heading style-1">
                                        <h6 class="member-name">Huell Babineaux</h6>
                                        <p class="member-position">Bodyguard</p>
                                    </div>
                                    <p class="member-about">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est possimus
                                        reprehenderit tenetur odit enim, fugit qui voluptate distinctio laboriosam
                                        asperiores laborum eius nesciunt ut exercitationem perferendis. Illum ab
                                        inventore explicabo!
                                    </p>
                                </figcaption>
                            </figure>
                        </div><!-- .team-member end -->
                    </div><!-- .col-md-3 end -->
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <figure>
                                <img src="img/betterCallSaul/francesca.jpg" class="img-responsive"
                                    alt="Construction HTML Template" />

                                <figcaption>
                                    <div class="custom-heading style-1">
                                        <h6 class="member-name">Francesca</h6>
                                        <p class="member-position">Accountant</p>
                                    </div>

                                    <p class="member-about">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum pariatur impedit
                                        excepturi, atque fugit quidem voluptas tempora. Molestias, enim voluptas. Atque
                                        officiis recusandae maiores ex, dolores optio obcaecati sapiente nobis.
                                    </p>
                                </figcaption>
                            </figure>
                        </div><!-- .team-member end -->
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content custom-background bkg-grey mb-0">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row mb-0">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12 mb-0">
                        <div class="custom-heading style-1">
                            <h2>Testimonials</h2>
                        </div><!-- .custom-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->

            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <%- include('partials/testimonials.ejs') %>
                            <!-- Testimonial carousel end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.custom-background end -->

        <%- include('partials/getsupport.ejs') %>

        <%- include('partials/footer.ejs') %>

            <script src="js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
            <script src="bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
            <script src="js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->
            <script src="js/jquery.magnific-popup.min.js"></script><!-- used for video lightbox -->
            <script src="js/retina.js"></script><!-- retina -->
            <script src='owl-carousel/owl.carousel.min.js'></script><!-- Carousels script -->
            <script src="js/include.js"></script><!-- custom js functions -->

            <script>
                /* <![CDATA[ */
                jQuery(document).ready(function ($) {
                    'use strict';

                    $('.video-post').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            markup: '<div class="mfp-iframe-scaler">' +
                                '<div class="mfp-close"></div>' +
                                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                                '</div>'
                        }
                    });

                    // TESTIMONIAL CAROUSEL START 
                    $('#testimonial-carousel').owlCarousel({
                        items: 2, //2 items above 1000px browser width
                        itemsCustom: [[0, 1], [600, 2], [1000, 2]],
                        autoPlay: true,
                        pagination: false,
                        navigation: true
                    });

                });
            /* ]]> */
            </script>

            </body>

            </html>