<%- include('partials/header.ejs') %>
<script>
    const header = document.getElementById('HeaderForMainPage');
    header.style.position = "relative";
    header.style.backgroundColor = "#222";
    const subHeader = document.getElementById('SubHeaderForMainPage');
    subHeader.style.marginTop = "0";
</script>

    <div class="tp-banner-container fullwidthbanner">
        <div id="rev-slider" class="tp-banner">
            <ul>
                <!-- SLIDE ONE -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="winter">
                    <!-- MAIN IMAGE -->
                    <img src="/img/betterCallSaul/greyNoise.jpeg" alt="slidebg3" data-bgfit="cover"
                        data-bgposition="center center" data-bgrepeat="no-repeat">

                    <div class="tp-caption tp-big-heading tp-big-heading-bold tp-white sfb" data-x="110" data-y="310"
                        data-speed="500" data-start="1000" data-easing="Back.easeOut" data-endspeed="500"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; text-shadow: 2px 2px 2px rgb(26, 26, 26);">
                        Better Call <span>Saul</span> Company
                    </div>

                    <div class="tp-caption tp-small-heading sfb" data-x="360" data-y="370" data-speed="500"
                        data-start="1100" data-easing="Back.easeOut" data-endspeed="500"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color: white; text-shadow: 1px 1px 2px rgb(26, 26, 26);">
                        The best lawyer in Albuquerque
                    </div>
                </li><!-- SLIDE ONE END -->

                <!-- SLIDE TWO -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="winter">
                    <!-- MAIN IMAGE -->
                    <img src="/img/betterCallSaul/zebra.jpg" alt="slidebg3" data-bgfit="cover"
                        data-bgposition="center center" data-bgrepeat="no-repeat">

                    <div class="tp-caption tp-big-heading tp-big-heading-bold tp-white sfb" data-x="110" data-y="310"
                        data-speed="500" data-start="1000" data-easing="Back.easeOut" data-endspeed="500"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color: black;">
                        Saul can solve your <span style="text-shadow: 2px 2px 2px rgb(26, 26, 26);">law problems</span>
                    </div>

                    <div class="tp-caption tp-small-heading sfb" data-x="360" data-y="370" data-speed="500"
                        data-start="1100" data-easing="Back.easeOut" data-endspeed="500"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color: black; text-shadow: 0.5px 0.5px 1px rgb(255, 255, 255);">
                        And he does it quickly and efficiently
                    </div>
                </li><!-- SLIDE TWO END -->
            </ul>
        </div><!-- .tp-banner end -->
    </div><!-- .tp-banner-container end -->

    <!-- .page-content start -->
    <div class="page-content">
        <div class="container">
            <!-- .row start -->
            <div class="row mb-0 negative-top-margin">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-1">
                        <div class="feature-body">
                            <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
                                <img src="/img/svg/shield_protection.svg" class="img-responsive" alt="weather icon" />
                            </span>
                            <div class="custom-heading">
                                <a href="/services">
                                    <h4>Your <span>protection</span></h4>
                                </a>
                            </div><!-- .custom-heading end -->

                            <p>
                                text
                                <a href="/services" class="read-more">
                                    <span>
                                        [...]
                                    </span>
                                </a>
                            </p>

                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->

                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-1">
                        <div class="feature-body">
                            <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
                                <img src="/img/svg/lupa.svg" class="img-responsive" alt="hammer icon" />
                            </span>
                            <div class="custom-heading">
                                <a href="/services">
                                    <h4>I will find your <span>innocence</span></h4>
                                </a>
                            </div><!-- .custom-heading end -->

                            <p>
                                text
                                <a href="/services" class="read-more">
                                    <span>
                                        [...]
                                    </span>
                                </a>
                            </p>

                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->

                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-1">
                        <div class="feature-body">
                            <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
                                <img src="/img/svg/law_cups.svg" class="img-responsive" alt="paintcy icon" />
                            </span>
                            <div class="custom-heading">
                                <a href="/services">
                                    <h4><span>Justice</span> with you</h4>
                                </a>
                            </div><!-- .custom-heading end -->

                            <p>
                                text
                                <a href="/services" class="read-more">
                                    <span>
                                        [...]
                                    </span>
                                </a>
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <!-- .page-content start -->
    <div class="page-content quote style-1 custom-background bkg-darkgrey dark mb-70">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row mb-0">
                <!-- .col-md-9 start -->
                <div class="col-md-9 col-sm-9 col-xs-12 mb-0">
                    <div class="quote-content">
                        <div class="text">
                            <h3>TEXT</h3>
                        </div>
                    </div>
                </div><!-- .col-md-9 end -->
                <!-- .col-md-3 start -->
                <div class="col-md-3 col-sm-3 col-xs-12 mb-50">
                    <div class="quote-btn">
                        <a href='/contacts' class="btn btn-primary float-right">
                            Get Support
                        </a>
                    </div>
                </div><!-- .col-md-3 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content.custom-background end -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-2">
                        <div class="feature-media">
                            <img src="/img/betterCallSaul/up.jpg" class="img-responsive"
                                alt="Construction HTML Template" />

                            <a href="https://www.youtube.com/watch?v=iId5WDsYxZ4" class="read-more video-post">
                                <span class="icon-container">
                                    <img class="svg-black img-responsive" src="/img/svg/video.svg" alt="video icon" />
                                </span>
                            </a>
                        </div><!-- .feature-media end -->

                        <div class="feature-body">
                            <div class="custom-heading style-1">
                                <a href="/about_me">
                                    <h4>About me</h4>
                                </a>
                            </div><!-- .custom-heading end -->
                            <p>
                                text
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->

                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-2">
                        <div class="feature-media">
                            <img src="/img/betterCallSaul/hill.jpg" class="img-responsive"
                                alt="Construction HTML Template" />

                            <a href="/services" class="read-more">
                                <span class="icon-container">
                                    <img class="svg-black img-responsive" src="/img/svg/arrow.svg" alt="arrow icon" />
                                </span>
                            </a>
                        </div><!-- .feature-media end -->

                        <div class="feature-body">
                            <div class="custom-heading style-1">
                                <a href="/services">
                                    <h4>Our services</h4>
                                </a>
                            </div><!-- .custom-heading end -->
                            <p>
                                text
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->

                <div class="col-md-4 col-sm-4">
                    <div class="feature-box style-2">
                        <div class="feature-media">
                            <img src="/img/betterCallSaul/horiz_poster.jpg" class="img-responsive"
                                alt="Construction HTML Template" />

                            <a href="/" class="read-more">
                                <span class="icon-container">
                                    <img class="svg-black img-responsive" src="/img/svg/arrow.svg" alt="arrow icon" />
                                </span>
                            </a>
                        </div><!-- .feature-media end -->

                        <div class="feature-body">
                            <div class="custom-heading style-1">
                                <a href="/">
                                    <h4>My won cases</h4>
                                </a>
                            </div><!-- .custom-heading end -->

                            <p>
                                text
                            </p>
                        </div><!-- .feature-body end -->
                    </div><!-- .feature-box-end -->
                </div><!-- .col-md-4 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <%- include('partials/myMission.ejs') %>

        <div class="page-content">
            <div class="container">
                <!-- .row start -->
                <div class="row mb-0">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12 mb-0">
                        <div class="custom-heading style-1">
                            <h2>Company news</h2>
                        </div><!-- .custom-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pi-latest-post clearfix">
                            <div class="post-media">
                                <a href="/case_single">
                                    <img src="/img/pics/case_photo.jpg" class="img-responsive"
                                        alt="Construction HTML Template" />
                                </a>
                            </div><!-- .post-media end -->

                            <div class="post-details">
                                <i class="fa fa-calendar"></i>
                                <div class="post-date">
                                    <p>
                                        date X, year N
                                    </p>
                                </div>

                                <a href="/case_single">
                                    <h4>
                                        Case name: short story
                                    </h4>
                                </a>
                            </div><!-- .post-details end -->

                        </div><!-- .pi-latest-post end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-6">

                        <div class="pi-latest-post clearfix">
                            <div class="post-media">
                                <a href="/case_single">
                                    <img src="/img/pics/case_photo.jpg" class="img-responsive"
                                        alt="Construction HTML Template" />
                                </a>
                            </div><!-- .post-media end -->

                            <div class="post-details">
                                <i class="fa fa-calendar"></i>
                                <div class="post-date">
                                    <p>
                                        date X, year N
                                    </p>
                                </div>

                                <a href="/case_single">
                                    <h4>
                                        Case name: short story
                                    </h4>
                                </a>
                            </div><!-- .post-details end -->

                        </div><!-- .pi-latest-post end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-6">
                        <ul class="pi-latest-posts clearfix">
                            <li>
                                <div class="post-media">
                                    <a href="/case_single">
                                        <img src="/img/pics/case_photo.jpg" class="img-responsive"
                                            alt="Construction HTML Template" />
                                    </a>
                                </div><!-- .post-media end -->

                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            date X, year N
                                        </p>
                                    </div>

                                    <a href="/case_single">
                                        <h6>
                                            Case name: short story
                                        </h6>
                                    </a>
                                </div><!-- .post-details end -->
                            </li>

                            <li>
                                <div class="post-media">
                                    <a href="/case_single">
                                        <img src="/img/pics/case_photo.jpg" class="img-responsive"
                                            alt="Construction HTML Template" />
                                    </a>
                                </div><!-- .post-media end -->

                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            date X, year N
                                        </p>
                                    </div>

                                    <a href="/case_single">
                                        <h6>
                                            Case name: short story
                                        </h6>
                                    </a>
                                </div><!-- .post-details end -->
                            </li>

                            <li>
                                <div class="post-media">
                                    <a href="/case_single">
                                        <img src="/img/pics/case_photo.jpg" class="img-responsive"
                                            alt="Construction HTML Template" />
                                    </a>
                                </div><!-- .post-media end -->

                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            date X, year N
                                        </p>
                                    </div>

                                    <a href="/news-single.html">
                                        <h6>
                                            Case name: short story
                                        </h6>
                                    </a>
                                </div><!-- .post-details end -->
                            </li>
                        </ul><!-- .pi-latest-posts end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content custom-background bkg-grey mb-70">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row mb-0">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12 mb-0">
                        <div class="custom-heading style-1">
                            <h2>Testimonials</h2>
                        </div><!-- .custom-heading end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->

            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-12 start -->
                    <div class="col-md-12">
                        <%- include('partials/testimonials.ejs') %>
                            <!-- Testimonial carousel end -->
                    </div><!-- .col-md-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.custom-background end -->

        <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <div class="custom-heading style-1">
                            <h2>My core values</h2>
                        </div><!-- .custom-heading end -->

                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="indicator fa fa-minus"></i>
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne">
                                            Text
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        text text
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="indicator fa fa-plus"></i>
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseTwo">
                                            Text
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        text text
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="indicator fa fa-plus"></i>
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseThree">
                                            Text
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        text text
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <i class="indicator fa fa-plus"></i>
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseFour">
                                            Text
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        text text
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-6 end -->
                    <!-- .col-md-3 start -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <img src="/img/betterCallSaul/poster.jpg" class="img-responsive"
                            alt="Construction HTML Template" />
                    </div><!-- .col-md-3 end -->
                    <!-- .col-md-3 start -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <img src="/img/betterCallSaul/stayOnCar.jpg" class="img-responsive"
                            alt="Construction HTML Template" />
                    </div><!-- .col-md-3 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content custom-img-background dark bkg-img2">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box style-1">
                            <div class="feature-body">
                                <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
                                    <img src="/img/svg/map.svg" class="img-responsive" alt="painting icon" />
                                </span>
                                <div class="custom-heading">
                                    <h4>Where to find us</h4>
                                </div><!-- .custom-heading end -->

                                <p>
                                    I are located in 9800 Montgomery Blvd NE, Albuquerque, NM 87111.
                                </p>

                            </div><!-- .feature-body end -->
                        </div><!-- .feature-box-end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box style-1">
                            <div class="feature-body">
                                <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
                                    <img src="/img/svg/email.svg" class="img-responsive" alt="email icon" />
                                </span>
                                <div class="custom-heading">
                                    <h4>Contact me via email</h4>
                                </div><!-- .custom-heading end -->

                                <p>
                                    If you have any questions, you can contact me via email.
                                </p>

                            </div><!-- .feature-body end -->
                        </div><!-- .feature-box-end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box style-1">
                            <%- include("partials/getquickquote.ejs") %>
                        </div><!-- .feature-box-end -->
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content.custom-img-background end -->

        <%- include('partials/footer.ejs') %>

            <script src="/js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
            <script src="/bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
            <script src="/js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->
            <script src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script><!-- Revolution slider script -->
            <script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script><!-- Revolution slider script -->
            <script src="/js/jquery.magnific-popup.min.js"></script><!-- used for video lightbox -->
            <script src='/owl-carousel/owl.carousel.min.js'></script><!-- Carousels script -->
            <script src="/js/retina.js"></script><!-- retina script -->
            <script src="/js/include.js"></script><!-- custom js functions -->

            <script>
                /* <![CDATA[ */
                jQuery(document).ready(function ($) {
                    'use strict';

                    jQuery('#rev-slider').revolution(
                        {
                            dottedOverlay: "none",
                            delay: 9000,
                            startwidth: 1170,
                            startheight: 700,
                            hideThumbs: 200,
                            thumbWidth: 100,
                            thumbHeight: 50,
                            thumbAmount: 3,
                            navigationType: "none",
                            navigationArrows: "solo",
                            navigationStyle: "preview5",
                            touchenabled: "on",
                            onHoverStop: "off",
                            swipe_velocity: 0.7,
                            swipe_min_touches: 1,
                            swipe_max_touches: 1,
                            drag_block_vertical: false,
                            keyboardNavigation: "on",
                            navigationHAlign: "center",
                            navigationVAlign: "bottom",
                            navigationHOffset: 0,
                            navigationVOffset: 20,
                            soloArrowLeftHalign: "left",
                            soloArrowLeftValign: "center",
                            soloArrowLeftHOffset: 20,
                            soloArrowLeftVOffset: 0,
                            soloArrowRightHalign: "right",
                            soloArrowRightValign: "center",
                            soloArrowRightHOffset: 20,
                            soloArrowRightVOffset: 0,
                            shadow: 0,
                            fullWidth: "on",
                            fullScreen: "off",
                            spinner: "spinner0",
                            stopLoop: "off",
                            stopAfterLoops: -1,
                            stopAtSlide: -1,
                            shuffle: "off",
                            forceFullWidth: "off",
                            fullScreenAlignForce: "off",
                            minFullScreenHeight: "400",
                            hideThumbsOnMobile: "off",
                            hideNavDelayOnMobile: 1500,
                            hideBulletsOnMobile: "off",
                            hideArrowsOnMobile: "off",
                            hideThumbsUnderResolution: 0,
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            startWithSlide: 0,
                            hideTimerBar: "on"
                        });

                    $('.video-post').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            markup: '<div class="mfp-iframe-scaler">' +
                                '<div class="mfp-close"></div>' +
                                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                                '</div>'
                        }
                    });

                    // GALLERY CAROUSEL
                    $('#gallery-carousel').owlCarousel({
                        items: 5, //5 items above 1000px browser width
                        itemsCustom: [[0, 1], [600, 2], [1000, 4], [1300, 5]],
                        autoPlay: true,
                        pagination: false,
                        navigation: true
                    });

                    // TESTIMONIAL CAROUSEL START 
                    $('#testimonial-carousel').owlCarousel({
                        items: 2, //2 items above 1000px browser width
                        itemsCustom: [[0, 1], [600, 2], [1000, 2]],
                        autoPlay: true,
                        pagination: false,
                        navigation: true
                    });

                });
            /* ]]> */
            </script>

            </body>

            </html>