<%- include('partials/header.ejs') %>

    <!-- .page-content start -->
    <div class="page-content custom-img-background dark page-title page-title-1 mb-70">
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                        <h1>Company <span>News</span></h1>
                    </div><!-- .custom-heading end -->
                </div><!-- .col-md-6 end -->
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">News</li>
                    </ol>
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <ul class="col-md-8 blog-posts post-list">
                    <%- include('partials/blogPost.ejs') %>
                    <%- include('partials/blogPost.ejs') %>
                    <%- include('partials/blogPost.ejs') %>
                    <li>
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">15</a></li>
                                <li>
                                    <a href="#" class=" fa fa-angle-right" aria-label="Next"></a>
                                </li>
                            </ul><!-- .pagination end -->
                        </nav>
                    </li>
                </ul>


                <%- include('partials/lawyerCompany.ejs') %>

                    <%- include('partials/brochure.ejs') %>

                        <!-- .widget.widget-text start -->
                        <li class="widget widget-text">
                            <div class="quote style-3">
                                <%- include('partials/getquickquote.ejs') %>
                            </div>
                        </li><!-- .widget-text end -->

                        <%- include('partials/latestCases.ejs') %>
                            </ul><!-- .aside-widgets end -->
                            </aside><!-- .aside end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <%- include('partials/getsupport.ejs') %>

        <%- include('partials/footer.ejs') %>

            <script src="js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
            <script src="bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
            <script src="js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->
            <script src="js/retina.js"></script><!-- retina script -->
            <script src="js/include.js"></script><!-- custom js functions -->

            </body>

            </html>