<%- include('partials/header.ejs') %>

    <!-- .page-content start -->
    <div class="page-content custom-img-background dark page-title page-title-1 mb-70">
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                        <h1>Case name</h1>
                    </div><!-- .custom-heading.style-1 end -->
                </div><!-- .col-md-6 end -->
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/news">News</a></li>
                        <li class="active">Case name</li>
                    </ol>
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-posts post-single">
                    <div class="blog-post clearfix">
                        <div class="post-media">
                            <a href="/news_single" class="post-img">
                                <img src="img/pics/case_photo.jpg" class="img-responsive"
                                    alt="Construction HTML Template" />
                            </a>
                        </div><!-- .post-media end -->
                        <div class="icon-container">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="post-body">
                            <div class="post-date">
                                <p>
                                    date X, year N
                                </p>
                            </div>
                            <div class="custom-heading">
                                <a href="news-single.html">
                                    <h4>Case name, short story</h4>
                                </a>
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam eaque minus dignissimos
                                quae adipisci rerum enim excepturi fugit dolore consectetur, eius cum ducimus ullam
                                voluptates veritatis amet, ratione, ipsum officiis!
                            </p>

                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, et! Eius, maiores
                                animi incidunt autem nesciunt fugit laboriosam, quasi dignissimos ad vero nisi ratione
                                neque ipsam nihil odit ab dolor!
                            </p>

                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae deleniti cupiditate
                                velit unde, hic voluptate dignissimos commodi harum voluptatem magnam ea voluptatum
                                incidunt necessitatibus blanditiis obcaecati tenetur voluptas, ratione beatae.
                            </p>

                            <!-- .post-comments start -->
                            <div class="post-comments">
                                <div class="custom-heading style-1">
                                    <h4>Comments</h4>
                                </div><!-- .custom-heading end -->

                                <!-- .media-list.comments-li start -->
                                <ul class="media-list comments-li">
                                    <li class="media comment">
                                        <div class="media-left">
                                            <a href="#" class="avatar">
                                                <img src="img/news/avatar-01.png"
                                                    class="media-object img-responsive img-circle" alt="author" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading author">Howard Hamlinn</h6>
                                            <p class="date">
                                                Month X, year N at Z:ZZ PM
                                            </p>
                                            <p>Pellentesque a ultrices elit. Cum sociis natoque penatibus et
                                                magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
                                                nec fermentum est, a posuere ante. Quisque ligula lectus, suscipit
                                                ac viverra nec, aliquam at turpis. Duis aliquet maximus tincidunt. </p>
                                            <a class="comment-reply-link">
                                                <i class="fa fa-repeat"></i> Reply
                                            </a>
                                        </div>
                                    </li>
                                    <li class="media comment">
                                        <div class="media-left">
                                            <a href="#" class="avatar">
                                                <img src="img/news/avatar-02.png"
                                                    class="media-object img-responsive img-circle" alt="author" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading author">Tara Stark</h6>
                                            <p class="date">
                                                Month X, year N at Z:ZZ PM
                                            </p>
                                            <p>Pellentesque a ultrices elit. Cum sociis natoque penatibus et magnis dis
                                                parturient montes, nascetur ridiculus mus.
                                                Vestibulum nec fermentum est, a posuere ante. </p>
                                            <a class="comment-reply-link">
                                                <i class="fa fa-repeat"></i> Reply
                                            </a>

                                            <div class="media comment child">
                                                <div class="media-left">
                                                    <a href="#" class="avatar">
                                                        <img src="img/news/avatar-01.png"
                                                            class="media-object img-responsive img-circle"
                                                            alt="author" />
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading author">User123</h6>
                                                    <p class="date">
                                                        April 12th, 2015 at 3:50 PM
                                                    </p>
                                                    <p>Pellentesque a ultrices elit. Cum sociis natoque penatibus et
                                                        magnis dis parturient montes, nascetur ridiculus mus. Vestibulum
                                                        nec fermentum est, a posuere ante. Quisque ligula lectus,
                                                        suscipit
                                                        ac viverra nec, aliquam at turpis. Duis aliquet maximus
                                                        tincidunt. </p>
                                                    <a class="comment-reply-link">
                                                        <i class="fa fa-repeat"></i> Reply
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- .comments-li end -->
                            </div><!-- .post-comments end -->

                            <!-- .comment-form start -->
                            <div class="comment-form">
                                <div id="respond">

                                    <div class="custom-heading style-1">
                                        <h4>Leave a comment</h4>
                                    </div><!-- .custom-heading end -->

                                    <form id="commentform">
                                        <div class="form-group">
                                            <label>
                                                <span class="required">*</span> Full Name:
                                            </label>
                                            <input name="author" type="text" class="wpcf7-text form-control"
                                                id="comment-name">
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <span class="required">*</span> Your Email address
                                            </label>

                                            <input name="email" class="wpcf7-text form-control" type="email"
                                                id="comment-email">
                                        </div>

                                        <div class="form-group wpcf7-message">
                                            <label>
                                                Your message (<span class="italic">Optional</span>):
                                            </label>
                                            <textarea name="comment" class="wpcf7-textarea form-control"
                                                id="comment-message" rows="4"></textarea>
                                        </div>
                                        <div id="recaptcha_response" class="g-recaptcha" data-sitekey="YOUR SITE KEY">
                                        </div>
                                        <input type="submit"
                                            class="wpcf7-submit btn btn-primary float-right comment-reply"
                                            value="Send" />

                                    </form>
                                </div><!-- #respond end -->
                            </div><!-- .comment-form end -->

                        </div><!-- .post-body end -->

                    </div><!-- .blog-post end -->
                </div><!-- .col-md-8.blog-posts.post-list end -->

                <%- include('partials/lawyerCompany.ejs') %>

                    <%- include("partials/brochure.ejs") %>
                        <!-- .widget.widget-text start -->
                        <li class="widget widget-text">
                            <div class="quote style-3">
                                <%- include("partials/getquickquote.ejs") %>
                            </div>
                        </li><!-- .widget-text end -->



                        <!-- .widget_recent_entries start -->
                        <li class="widget widget_recent_entries">
                            <div class="title">
                                <h3>Latest Cases</h3>
                            </div>

                            <ul>
                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-calendar"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>

                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-file-pdf-o"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>

                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-calendar"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>
                            </ul>
                        </li><!-- .widget_recent_entries end -->
                        </ul><!-- .aside-widgets end -->
                        </aside><!-- .aside end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <%- include('partials/getsupport.ejs') %>

    <%- include('partials/footer.ejs') %>

        <script src="js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
        <script src="bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
        <script src="js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->
        <script src="sharrre/jquery.sharrre-1.3.4.min.js"></script><!-- Sharrre post plugin -->
        <script src="js/retina.js"></script><!-- retina script -->
        <script src="js/include.js"></script><!-- custom js functions -->

        <script>
            /* <![CDATA[ */
            jQuery(document).ready(function ($) {
                'use strict';

                //JQUERY SHARRRE 
                $('.sharrre-facebook').sharrre({
                    share: {
                        facebook: true
                    },
                    enableHover: false,
                    enableTracking: true,
                    template: '<a class="box" href="#"><div class="count" href="#">{total}</div><div class="share"><span></span><div class="sharrre-text">Likes</div></div></a>',
                    click: function (api, options) {
                        api.simulateClick();
                        api.openPopup('facebook');
                    }
                });

                $('.sharrre-twitter').sharrre({
                    share: {
                        facebook: true
                    },
                    enableHover: false,
                    enableTracking: true,
                    template: '<a class="box" href="#"><div class="count" href="#">{total}</div><div class="share"><span></span><div class="sharrre-text">Tweets</div></div></a>',
                    click: function (api, options) {
                        api.simulateClick();
                        api.openPopup('twitter');
                    }
                });
                $('.sharrre-linkedin').sharrre({
                    share: {
                        facebook: true
                    },
                    enableHover: false,
                    enableTracking: true,
                    template: '<a class="box" href="#"><div class="count" href="#">{total}</div><div class="share"><span></span><div class="sharrre-text">Shares</div></div></a>',
                    click: function (api, options) {
                        api.simulateClick();
                        api.openPopup('linkedin');
                    }
                });

                $('.sharrre-google-plus').sharrre({
                    share: {
                        facebook: true
                    },
                    enableHover: false,
                    enableTracking: true,
                    template: '<a class="box" href="#"><div class="count" href="#">{total}</div><div class="share"><span></span><div class="sharrre-text">Shares</div></div></a>',
                    click: function (api, options) {
                        api.simulateClick();
                        api.openPopup('googlePlus');
                    }
                });

                // COMMENT FORM AJAX SUBMIT START
                $('#commentform .wpcf7-submit').on('click', function (event) {
                    event.preventDefault();
                    var name = $('#comment-name').val();
                    var email = $('#comment-email').val();
                    var message = $('#comment-message').val();
                    var recaptcha = grecaptcha.getResponse($("recaptcha_response")[0]);
                    var form_data = new Array({ 'Name': name, 'Email': email, 'Message': message, 'Recaptcha': recaptcha });
                    $.ajax({
                        type: 'POST',
                        url: "contact.php",
                        data: ({ 'action': 'comment', 'form_data': form_data })
                    }).done(function (data) {
                        alert(data);
                    });
                }); // COMMENT FORM AJAX SUBMIT END

            });
            /* ]]> */
        </script>


        </body>

        </html>