<%- include('partials/header.ejs') %>

    <!-- .page-content start -->
    <div class="page-content custom-img-background dark page-title page-title-1 mb-70">
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                        <h1>My <span>Services</span></h1>
                    </div><!-- .custom-heading.style-1 end -->
                </div><!-- .col-md-6 end -->
                <!-- .col-md-6 start -->
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li>You are here:</li>
                        <li><a href="/">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div><!-- .col-md-6 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <div class="page-content">
        <div class="container">
            <div class="row">

                <%- include('partials/lawyerCompany.ejs') %>

                    <%- include("partials/brochure.ejs") %>

                        <!-- .widget.widget-text start -->
                        <li class="widget widget-text">
                            <div class="quote style-3">
                                <%- include("partials/getquickquote.ejs") %>
                            </div>
                        </li><!-- .widget-text end -->

                        <!-- .widget.widget-text start -->
                        <li class="widget widget-text">
                            <div class="title">
                                <h3>Testimonials</h3>
                            </div>
                            <%- include('partials/testimonials.ejs') %>
                                <!-- Testimonial carousel end -->
                        </li><!-- .widget-text end -->
                        </ul><!-- .aside-widgets end -->
                        </aside><!-- .aside end -->

                        <div class="features-boxes-wrapper col-md-8">
                            <div class="row mb-0">

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                                <div class="feature-box col-md-6 col-sm-6 style-2">
                                    <div class="feature-body">
                                        <div class="custom-heading style-1">
                                            <h4>Service Name</h4>
                                        </div><!-- .custom-heading end -->

                                        <p>
                                            TEXT TEXT
                                        </p>
                                        <ul class="fa-ul">
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                            <li>text</li>
                                        </ul>
                                        <a href="/contacts" class="btn btn-link">Go to contacts</a>
                                    </div><!-- .feature-body end -->
                                </div><!-- .feature-box-end -->

                            </div>
                        </div>
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content end -->

    <%- include('partials/getsupport.ejs') %>

        <%- include('partials/footer.ejs') %>

            <script src="js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
            <script src="bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
            <script src="js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->
            <script src="js/jquery.magnific-popup.min.js"></script><!-- used for video lightbox -->
            <script src='owl-carousel/owl.carousel.min.js'></script><!-- Carousels script -->
            <script src="js/retina.js"></script><!-- retina script -->
            <script src="js/include.js"></script><!-- custom js functions -->

            <script>
                /* <![CDATA[ */
                jQuery(document).ready(function ($) {
                    'use strict';

                    $('.video-post').magnificPopup({
                        type: 'iframe',
                        iframe: {
                            markup: '<div class="mfp-iframe-scaler">' +
                                '<div class="mfp-close"></div>' +
                                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>' +
                                '</div>'
                        }
                    });

                    // TESTIMONIAL CAROUSEL START 
                    $('#testimonial-carousel').owlCarousel({
                        items: 1, //1 item above 1000px browser width
                        itemsCustom: [[0, 1], [600, 1], [1000, 1]],
                        autoPlay: true,
                        pagination: false,
                        navigation: false
                    });

                });
            /* ]]> */
            </script>

            </body>

            </html>